.env
/vendor
/node_modules
/.idea/*
/.vagrant
/public/bower_components
/database/dumps
/bootstrap/compiled.php

.DS_Store
Thumbs.db
composer.lock
composer.phar

Homestead.json
Homestead.yaml
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

Vagrantfile